.hero-banner {
    &__desc {
        font-size: 14px;
        font-weight: 300;
        color: $color-white;
        padding-bottom: 12px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        color: $color-white;
    }
}

h2 {
    text-align: center;
    &.title {
        font-weight: 600;
        font-size: 34px;
        margin-bottom: 16px;
        text-align: center;
    }
}

p {
    &.desc {
        color: $color-grey-2;
        text-align: center;
    }
    
    &.our-services__sub-desc {
        text-align: left;
        color: $color-blue-3;
        font-size: 14px;
        margin-bottom: 24px;
    }
}

h3 {
    font-weight: 600;

    &.our-services__sub-title {
        color: $color-blue-2;
        font-size: 28px;
        margin-bottom: 24px;
    }
}
.our-services{
    &__title{
        color: $color-black-3;
    }
}
.news-events{
    &__title{
        color: $color-black-2;
    }
    &__date{
        font-size: 14px;
    color: $color-grey-6;
    margin-bottom: 16px;
    }
    &__sub-title{
        font-weight: 600;
    color: $color-black-2;
    margin-bottom: 16px;
    }
    &__sub-desc{
        color: $color-grey-4;
    }
}
.form{
    &__title{
    font-size: 28px;
    color: $color-blue;
    font-weight: 600;
    text-align: left;
}
&__sub-title{
    margin-bottom: 20px;
    font-size: 28px;
    color: $color-blue;
    font-weight: 600;
}
&__sub-desc{
    margin-bottom: 16px;
    color: $color-grey-8;
    font-size: 16px;
}
}

@include desktop {
    .hero-banner {
        &__desc {
            font-size: 24px;
            padding-bottom: 16px;
        }

        &__title {
            font-size: 58px;
        }
    }
    .form{
        &__sub-title{
            margin-bottom: 32px;
        }
    }
}