.header {
    width: 100%;
    z-index: 9999;
    background: $color-white;
    height: 70px;

    &--sticky {
        position: fixed;
        top: 0;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        display: -ms-flexbox;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

}

@include desktop{
    .header {
        height: 90px;
    }
}