html,
body {
    @include EticaW02;
    background-color: $color-white;
    color: $color-black;
    font-weight: 200;
    line-height: 1.3;
    font-size: 100%;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-semi-bold;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}

a {
    color: $color-black;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.content__wrapper {
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}

.only-desktop {
    display: none;
}

.only-mobile {
    display: block;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }

@include desktop {

    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: block;
    }

    .content__wrapper {
        padding: 0 30px;
        box-sizing: border-box;
    }

}