// Main colors 
$color-black: #000000;
$color-black-2: #161616;
$color-black-3: #191937;
$color-grey: #d4d4d4;
$color-grey-2: #9fa1a7;
$color-grey-3: #ebebeb;
$color-grey-4: #666666;
$color-grey-5: #c2c6d0;
$color-white: #ffffff;
$color-white-1: #e0e0fb;
$color-blue: #10385b;
$color-blue-1: #04bbf2;
$color-blue-3: #4b597b;
$color-blue-4: #21477f;
$color-cyan: #a0ead1;